<header>
    <p> iLibs</p>
    <hr>
    <nav>
        <ul class="list-group" class="menu-collapsed">
            <li><a [routerLink]="['/principal']" class="list-group-item list-group-item-action active" aria-current="true"> Principal </a></li>
            <li><a [routerLink]="['/prestamos']" class="list-group-item list-group-item-action active" aria-current="true"> Prestamos </a></li>
            <li><a [routerLink]="['/devoluciones']" class="list-group-item list-group-item-action active" aria-current="true"> Devoluciones </a></li>
            <li><a [routerLink]="['/usuarios']" class="list-group-item list-group-item-action active" aria-current="true"> Usuarios </a></li>
            <li><a [routerLink]="['/libros']" class="list-group-item list-group-item-action active" aria-current="true"> Libros </a></li>
            <li><a [routerLink]="['/reportes']" class="list-group-item list-group-item-action active" aria-current="true"> Reportes </a></li>
        </ul>
    </nav>
</header>