section {
    padding-left: 35%;
    background: white;
    max-width: 80%;
    margin-left: -13%;
    margin-right: -10%;
    padding-bottom: -10px;
    padding-top: 20px;
}

p {
    color: black;
    margin-top: 0px;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 1px;
    padding-bottom: 1px;
}