h2 {
    margin-bottom: 5%;
}
.container {
    padding-left: 20%;
    padding-top: 0px;
    margin-left: 2%;
}

.search {
    margin-left: 7%;   
}

.action {
    margin-left: 3%;
    float: right;
    margin-top: 10%;
    margin-bottom: 2%;
}

img {
    clear: both;
    float: left;
    height: 321px;
    width: 444px;
    margin-right: 33%;
}

.form-group {
    margin: 10%;
}