<div class="container">
    <h2>Subir nuevo libro</h2>
    <div class="row">
        <div class="col-6">
            <form>
                <div class="form-group">
                  <label>Libro id</label>
                  <input type="text" class="form-control" placeholder="Ingrese el Id de libro">
                </div>
                <div class="form-group">
                  <label>Titulo</label>
                  <input type="text" class="form-control" placeholder="Ingrese el título del libro">
                </div>
                <div class="form-group">
                    <label>Fecha de publicación</label>
                    <input type="text" class="form-control" placeholder="Ingrese la fecha de publicación">
                </div>
                <div class="form-group">
                    <label>Autor</label>
                    <input type="text" class="form-control" placeholder="Ingrese el nombre del autor">
                </div>
                <div class="form-group">
                    <label>Categoría</label>
                    <input type="text" class="form-control" placeholder="Ingrese la categoría del libro">
                </div>  
              </form>
        </div>
        <div class="col-6">
                <form>
                    <div class="form-group">
                        <label>Edición</label>
                        <input type="text" class="form-control" placeholder="Ingrese la edición">
                    </div>
                    <div class="form-group">
                      <label>Idioma</label>
                      <input type="text" class="form-control" placeholder="Ingrese el idioma del libro">
                    </div>
                    <div class="form-group">
                      <label>Descripción</label>
                      <input type="text" class="form-control" placeholder="Ingrese la descripción de libro">
                    </div>
                    <div class="form-group">
                        <label>Stock</label>
                        <input type="text" class="form-control" placeholder="Cantidad total">
                    </div>
                    <div class="form-group">
                        <label>Disponibles</label>
                        <input type="text" class="form-control" placeholder="Cantidad a prestar">
                    </div>
                    <button type="submit" class="btn btn-primary action">Subir</button>
                  </form>
        </div>
    </div>  
</div>

