<div class="container">
    <h2>Reportes</h2>

    <table class="table table-bordered">
        <thead class="thead-dark">
          <tr>
            <th scope="col">User Id</th>
            <th scope="col">Book Id</th>
            <th scope="col">Fecha de salida</th>
            <th scope="col">Fecha de entrega</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>1</td>
            <td>1/9/2022</td>
            <td>11/9/2022</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>2</td>
            <td>5/8/2022</td>
            <td>12/9/2022</td>
          </tr>
        </tbody>
      </table>

      <button type="button" class="btn btn-primary btn-lg action">Actualizar</button>
</div>
